{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1>Liste des Recettes</h1>
    <ul>
        {% for recette in recipes %}
            <li>
                <strong>{{ recette.getName() }}</strong>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
